.left {
    float: left;
	height:100%;
    width: 68vw;
}
.right{
	float: left;
	height:100%;
	width: 30vw;
}

.switchteam{
	right: 0;
	position: absolute;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

nav a{
	display:inline-block;
	text-decoration: none;
	background-color: #123;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 70px;
	font-size: 1.5rem;
}

nav a:hover{
background-color: black;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li{
	padding-right: 16px;
	margin: 0;
	width: 120px;
	height: 70px;
	float:left;
}

nav{
	width:100%;
	height: 70px;
	background-color: rgba(0, 0, 50, 1);
}

footer
{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color:rgba(11, 20, 10, 1);
	height:10vh;
}

.dropdown{
	display: block;
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.dropdown:hover .dropdown-content{
	display: inline-block;
}