.leftcolumn { /*Skapa kolumner*/
    float: left;
	height:auto;
    width: 68vw;
}
.rightcolumn{
	margin-top: 2px;
	float: left;
	height:auto;
	width: 28vw;
	border-style: solid; 
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
/*För navmenyn, 6 under + 3 till för dropdown*/
nav a{
	display:inline-block;
	text-decoration: none;
	background-color: #0d1a5f;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 70px;
	font-size: 1.5rem;
}

nav a:hover{
background-color: black;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li{
	padding-right: 16px;
	margin: 0;
	width: 120px;
	height: 70px;
	float:left;
}

nav{
	width:100%;
	height: 70px;
	background-color: rgba(0, 0, 50, 1);
}

.switchteam{ /*Skapad för positionen av "Switch team knappen"*/
	right: 0;
	position: absolute;
}

/*Dropdown klasser*/
.dropdown{
	display: block;
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.dropdown:hover .dropdown-content{
	display: inline-block;
}

footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color:rgba(11, 20, 10, 1);
	height:10vh;
}

.center{ /*Centrerar den texten jag sätter klassen på*/
	text-align: center;
}

.righthand{/*Används för att informationen i profilboxen ska vara på vänstra sidan.*/
	text-align: right;
	padding-right: 5px;
}

/*Färger för olika delar av sidan*/
.capcolor{
	background-color: #070e32;
}

.ironcolor{
	background-color: #760C10
}

.ironnavbackground{
	background-color: #DA1F28;
}

.ironnavbuttons{
	background-color: #540c10;
}

th, td{ /*För tabellen*/
	border: 2px solid black;
	text-align: center;
}

table{
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: hsla(255, 40%, 33%, 0.467);
}

.marginleft{ /*Används för att skapa utrymme mellan kanten och elementet*/
	margin-left: 4px;
}

.whitecolor{ /*Används där jag vill ha (nästan) vit färg*/
	color: hsla(0, 0%, 88%, 1);
}

/*Gjort för att texten i profilboxen ska vara närmare*/
div h4{
	margin:0;
}

div p{
	margin: 4px;
}

/*För att bilderna ska vara inställda rätt*/
.profilepic{ 
	width: 27vw;
	height: 65vh;
	padding: 0px 0.5vw;
}

@media only screen and (max-height: 680px) {
	.profilepic {
	  height: 480px;
	}
}

.textpic{
	width: 480px;
	height: 240px;
}

/*Fem under gjorda för att skapa spoilerknappar som ska visa status på hjältarna. Använder bland annat attributselektorn*/
.spoilerbutton{
	display:block;margin:5px 0;
}

.spoiler{
	overflow:hidden;
}

.spoiler > div{
	-webkit-transition: all 0.2s ease;-moz-transition: margin 0.2s ease;-o-transition: all 0.2s ease;transition: margin 0.2s ease;
}

.spoilerbutton[value="Show"] + .spoiler > div{
	margin-top:-100%;
}

.spoilerbutton[value="Hide"] + .spoiler{
	padding:5px;
}

.bottommargin{ /*Gjord för att all information ska synas även om det inte är så mycket.*/
	height: 200px;
}

/*Klasser gjorda för att de längre namnen ska få plats i navmenyerna*/
.smallerfont{
	font-size: 1.25rem;
}

.smallestfont{
	font-size: 1rem;
}