.leftcolumn {
    float: left;
	height:auto;
    width: 68vw;
}
.rightcolumn{
	margin-top: 2px;
	float: left;
	height:auto;
	width: 28vw;
	border-style: solid; 
}

.switchteam{
	right: 0;
	position: absolute;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

nav a{
	display:inline-block;
	text-decoration: none;
	background-color: #0d1a5f;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 70px;
	font-size: 1.5rem;
}

nav a:hover{
background-color: black;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li{
	padding-right: 16px;
	margin: 0;
	width: 120px;
	height: 70px;
	float:left;
}

nav{
	width:100%;
	height: 70px;
	background-color: rgba(0, 0, 50, 1);
}

.ironnavbackground{
	background-color: #DA1F28;
}

.ironnavbuttons{
	background-color: #540c10;
}

footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color:rgba(11, 20, 10, 1);
	height:10vh;
}

.dropdown{
	display: block;
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.dropdown:hover .dropdown-content{
	display: inline-block;
}

.center{
	text-align: center;
}

.profilepic{
	width: 27vw;
	height: 65vh;
	padding: 0px 0.5vw;
}

.righthand{
	text-align: right;
	padding-right: 5px;
}

.capcolor{
	background-color: #070e32;
}

.ironcolor{
	background-color: #760C10
}

th, td{
	border: 2px solid black;
	text-align: center;
}

table{
	border-collapse: collapse;
}

.marginleft{
	margin-left: 4px;
}

.whitecolor{
	color: hsla(0, 0%, 88%, 1);
}

div h4{
	margin:0;
}

div p{
	margin: 4px;
}

.textpic{
	width: 480px;
	height: 240px;
}

.spoilerbutton{
	display:block;margin:5px 0;
}

.spoiler{
	overflow:hidden;
}

.spoiler > div{
	-webkit-transition: all 0.2s ease;-moz-transition: margin 0.2s ease;-o-transition: all 0.2s ease;transition: margin 0.2s ease;
}

.spoilerbutton[value="Show"] + .spoiler > div{
	margin-top:-100%;
}

.spoilerbutton[value="Hide"] + .spoiler{
	padding:5px;
}

.bottommargin{
	height: 200px;
}

.smallerfont{
	font-size: 1.25rem;
}

.smallestfont{
	font-size: 1rem;
}